.UserForm {
	margin-top: 2rem;
  	font-size: 0.9rem;

  	form {
  		padding: 0;
  	}

  	.close-link {
    	margin-left: 1rem;
  	}

  	.boron-modal {
  		h2 {
  			margin-bottom: 2rem !important;
  		}

  		.form-actions {
  			margin-top: 0;
  			padding-top: 0;
  		}
  	}
}