.counter {
    height: 260px;
    background: url('/images/stats-bg.jpg');
    background-size: cover;
    background-position-y: 75%;

    #counterOpacity {
        background-color: rgba(210,230,255,.6);
        position: absolute;
        width: 100%;
        height: 260px;
    }

    .row {
        padding-top: 75px;
        position: absolute;
        width: 80%;
        margin: 0 8%;

        .count {
            font-size: 3.2rem;
            font-weight: 500;
            color: #43484d;
        }

        .title {
            margin-top: -0.5rem;
            font-size: 1rem;
            color: #5e6977;
        }

        .count, .title {
            font-family: 'Montserrat', sans-serif;
            text-align: center;
        }

        .withDivider {
            &:after {
                content: "";
                position: absolute;
                top: calc(50% - 20px);
                right: -15px;
                border-right: 1px solid #43484d;
                height: 25%;
            }
        }
    }
}