.CategoryList {
    i.folder-icon{
      font-size: 120%;
      margin-right: 10px;
    }
	ul {
		padding: 0;
		
		li {
			list-style: none;

			a,
			a:hover {
				position: relative;
				display: block;
				width: 100%;
				margin-bottom: 30px;
				padding: 1.2rem;
				text-decoration: none;
				color: #333;
				background-color: #fff;
				border: 2px solid #e1e8ee;
				font-size: 1rem;
			}

			a:hover {
				border-color: darken(#e1e8ee, 5%);
			}

			a {
				.categoryImage {
					position: relative;
				    margin: 25px auto 0 auto;
				    width: 90px;
				    height: 90px;
				    background-repeat: no-repeat;
				    background-size: contain;
				}

				p {
					text-align: center;
					margin-top: 20px;
					color: #3399ff;
				}
			}
		}
	}
}